.cropper {
  width: 100%;
  flex: auto;
  position: relative;
}

.cropArea {
  /* intentionally blank */
  cursor: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  z-index: 1;
  justify-content: flex-end;
  padding: 0 1rem;
}
